.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.section_1 {
    text-align: center;
    padding: 40px 0;
    width: 60%;
    margin: 0 auto;
}

.section_1 h1 {
    color: #925e72;
    padding: 0 12%;
}

.section_1 p {
    color: #333;
    padding: 0 18%;
}

.section_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef3f8;
    padding: 40px 0;
    gap: 50px;
    width: 100%;
}

.section_2 img {
    width: 400px;
    height: auto;
}

.box_2 {
    width: 400px;
    height: 300px;
}

.box_2 h2 {
    font-weight: normal;
}

.box_2 span {
    color: #e28e7a;
    font-weight: bold;
    font-family: sans-serif;
}

.box_2 p {
    font-size: 14px;
    color: #333;
}

.box_2 a {
    color: #333;
    text-decoration: underline;
}

.section_3 {
    padding: 40px 0;
    width: 60%;
    margin: 0 auto;
}

.section_3 img {
    width: 100%;
    height: auto;
}
